# Data Analysis Project

# Technical Support Analysis 

## 1. Project Overview
   
### My goal is to compile data from various Technical Support operations, and show how this information can be used to improve customer service, response times, resolution times, and maybe even future engineering projects.

In [26]:
# Get started
import pandas as pd

## 2. Data Collection and Loading   

### I used datasets that have information about service tickets, ticket generation, response time, resolution, and resolution time.
###   Dataset_1: "Technical Support Dataset.csv" <br> Dataset_2: "Customer Support Tickets.csv"

### Dataset_1

In [27]:
# Load Dataset_1 
dataset_1_info = pd.read_csv('Technical Support Dataset.csv')
print(dataset_1_info)

           Status  Ticket ID Priority Source                     Topic  \
0          Closed       1012      Low  Email           Feature request
1     In progress       1013     High  Phone             Product setup
2        Resolved       1014      Low   Chat  Purchasing and invoicing
3          Closed       1015   Medium  Email     Pricing and licensing
4          Closed       1016      Low  Email             Product setup
...           ...        ...      ...    ...                       ...
2325     Resolved       3988      Low  Email             Product setup
2326     Resolved       3996   Medium  Email     Pricing and licensing
2327     Resolved       3997     High  Email           Feature request
2328     Resolved       3998      Low  Email             Product setup
2329     Resolved       3999     High  Email           Feature request

           Agent Group           Agent Name         Created time  \
0     1st line support      Kristos Westoll  2023-01-02 00:58:36
1     2nd line support   Adolpho Messingham  2023-01-02 07:27:25
2     1st line support      Bernard Beckley  2023-01-02 06:59:04
3     1st line support  Connor Danielovitch  2023-01-03 03:09:39
4     1st line support      Kristos Westoll  2023-01-03 00:03:58
...                ...                  ...                  ...
2325  1st line support  Connor Danielovitch  2023-12-29 03:33:04
2326  1st line support  Connor Danielovitch  2023-12-30 03:11:44
2327  2nd line support       Michele Whyatt  2023-12-30 04:51:54
2328  1st line support      Kristos Westoll  2023-12-30 13:16:56
2329  1st line support        Sheela Cutten  2023-12-30 19:49:51

     Expected SLA to resolve Expected SLA to first response  ...  \
0        2023-01-04 00:58:36            2023-01-02 01:58:36  ...
1        2023-01-04 07:27:25            2023-01-02 07:29:25  ...
2        2023-01-03 06:59:04            2023-01-02 07:01:04  ...
3        2023-01-05 03:09:39            2023-01-03 04:09:39  ...
4        2023-01-05 00:03:58            2023-01-03 01:03:58  ...
...                      ...                            ...  ...
2325     2023-12-31 03:33:04            2023-12-29 04:33:04  ...
2326     2024-01-01 03:11:44            2023-12-30 04:11:44  ...
2327     2024-01-01 04:51:54            2023-12-30 05:51:54  ...
2328     2024-01-01 13:16:56            2023-12-30 14:16:56  ...
2329     2024-01-01 19:49:51            2023-12-30 20:49:51  ...

              Resolution time SLA For Resolution               Close time  \
0     2023-01-04 00:31:51.694         Within SLA  2023-01-04 04:02:59.013
1                         NaN       SLA Violated                      NaN
2     2023-01-02 22:45:32.974         Within SLA                      NaN
3     2023-01-04 14:32:34.979         Within SLA  2023-01-08 04:24:54.771
4     2023-01-04 12:03:05.986         Within SLA  2023-01-06 06:05:08.637
...                       ...                ...                      ...
2325  2023-12-30 18:38:54.682         Within SLA                      NaN
2326  2023-12-30 20:49:05.132         Within SLA                      NaN
2327  2024-01-04 05:39:41.133       SLA Violated                      NaN
2328  2023-12-31 23:25:16.816         Within SLA                      NaN
2329  2024-01-01 10:17:15.196         Within SLA                      NaN

     Agent interactions Survey results                Product group  \
0                   1.0            3.0  Custom software development
1                   3.0            NaN                        Other
2                   2.0            NaN  Custom software development
3                  10.0            4.0        Ready to use Software
4                   1.0            2.0                        Other
...                 ...            ...                          ...
2325                1.0            NaN        Ready to use Software
2326                1.0            NaN  Custom software development
2327                1.0            NaN                        Other
2328               10.0            NaN  Custom software development
2329                2.0            NaN  Custom software development

      Support Level              Country   Latitude  Longitude
0            Tier 1  Republic of Ireland  53.094024  -8.019675
1            Tier 2                Italy  43.036776  12.678565
2            Tier 1              Austria  47.696472  13.345735
3            Tier 1                Spain  39.673370  -4.767726
4            Tier 1              Austria  47.696472  13.345735
...             ...                  ...        ...        ...
2325         Tier 1                Spain  39.673370  -4.767726
2326         Tier 1             Slovenia  46.149166  14.986011
2327         Tier 2  Republic of Ireland  53.094024  -8.019675
2328         Tier 1  Republic of Ireland  53.094024  -8.019675
2329         Tier 1              Germany  51.165691  10.451526

[2330 rows x 22 columns]

In [28]:
# Dataset_1: Insert underscores. Makes it easier for me to read columns names
dataset_1_info.columns = dataset_1_info.columns.str.replace(' ', '_')
print(dataset_1_info)

           Status  Ticket_ID Priority Source                     Topic  \
0          Closed       1012      Low  Email           Feature request
1     In progress       1013     High  Phone             Product setup
2        Resolved       1014      Low   Chat  Purchasing and invoicing
3          Closed       1015   Medium  Email     Pricing and licensing
4          Closed       1016      Low  Email             Product setup
...           ...        ...      ...    ...                       ...
2325     Resolved       3988      Low  Email             Product setup
2326     Resolved       3996   Medium  Email     Pricing and licensing
2327     Resolved       3997     High  Email           Feature request
2328     Resolved       3998      Low  Email             Product setup
2329     Resolved       3999     High  Email           Feature request

           Agent_Group           Agent_Name         Created_time  \
0     1st line support      Kristos Westoll  2023-01-02 00:58:36
1     2nd line support   Adolpho Messingham  2023-01-02 07:27:25
2     1st line support      Bernard Beckley  2023-01-02 06:59:04
3     1st line support  Connor Danielovitch  2023-01-03 03:09:39
4     1st line support      Kristos Westoll  2023-01-03 00:03:58
...                ...                  ...                  ...
2325  1st line support  Connor Danielovitch  2023-12-29 03:33:04
2326  1st line support  Connor Danielovitch  2023-12-30 03:11:44
2327  2nd line support       Michele Whyatt  2023-12-30 04:51:54
2328  1st line support      Kristos Westoll  2023-12-30 13:16:56
2329  1st line support        Sheela Cutten  2023-12-30 19:49:51

     Expected_SLA_to_resolve Expected_SLA_to_first_response  ...  \
0        2023-01-04 00:58:36            2023-01-02 01:58:36  ...
1        2023-01-04 07:27:25            2023-01-02 07:29:25  ...
2        2023-01-03 06:59:04            2023-01-02 07:01:04  ...
3        2023-01-05 03:09:39            2023-01-03 04:09:39  ...
4        2023-01-05 00:03:58            2023-01-03 01:03:58  ...
...                      ...                            ...  ...
2325     2023-12-31 03:33:04            2023-12-29 04:33:04  ...
2326     2024-01-01 03:11:44            2023-12-30 04:11:44  ...
2327     2024-01-01 04:51:54            2023-12-30 05:51:54  ...
2328     2024-01-01 13:16:56            2023-12-30 14:16:56  ...
2329     2024-01-01 19:49:51            2023-12-30 20:49:51  ...

              Resolution_time SLA_For_Resolution               Close_time  \
0     2023-01-04 00:31:51.694         Within SLA  2023-01-04 04:02:59.013
1                         NaN       SLA Violated                      NaN
2     2023-01-02 22:45:32.974         Within SLA                      NaN
3     2023-01-04 14:32:34.979         Within SLA  2023-01-08 04:24:54.771
4     2023-01-04 12:03:05.986         Within SLA  2023-01-06 06:05:08.637
...                       ...                ...                      ...
2325  2023-12-30 18:38:54.682         Within SLA                      NaN
2326  2023-12-30 20:49:05.132         Within SLA                      NaN
2327  2024-01-04 05:39:41.133       SLA Violated                      NaN
2328  2023-12-31 23:25:16.816         Within SLA                      NaN
2329  2024-01-01 10:17:15.196         Within SLA                      NaN

     Agent_interactions Survey_results                Product_group  \
0                   1.0            3.0  Custom software development
1                   3.0            NaN                        Other
2                   2.0            NaN  Custom software development
3                  10.0            4.0        Ready to use Software
4                   1.0            2.0                        Other
...                 ...            ...                          ...
2325                1.0            NaN        Ready to use Software
2326                1.0            NaN  Custom software development
2327                1.0            NaN                        Other
2328               10.0            NaN  Custom software development
2329                2.0            NaN  Custom software development

      Support_Level              Country   Latitude  Longitude
0            Tier 1  Republic of Ireland  53.094024  -8.019675
1            Tier 2                Italy  43.036776  12.678565
2            Tier 1              Austria  47.696472  13.345735
3            Tier 1                Spain  39.673370  -4.767726
4            Tier 1              Austria  47.696472  13.345735
...             ...                  ...        ...        ...
2325         Tier 1                Spain  39.673370  -4.767726
2326         Tier 1             Slovenia  46.149166  14.986011
2327         Tier 2  Republic of Ireland  53.094024  -8.019675
2328         Tier 1  Republic of Ireland  53.094024  -8.019675
2329         Tier 1              Germany  51.165691  10.451526

[2330 rows x 22 columns]

In [29]:
# Dataset_1: Initial Check. Display the first few rows and basic information about the dataset.
dataset_1_info.head()

,Status,Ticket_ID,Priority,Source,Topic,Agent_Group,Agent_Name,Created_time,Expected_SLA_to_resolve,Expected_SLA_to_first_response,...,Resolution_time,SLA_For_Resolution,Close_time,Agent_interactions,Survey_results,Product_group,Support_Level,Country,Latitude,Longitude
0,Closed,1012,Low,Email,Feature request,1st line support,Kristos Westoll,2023-01-02 00:58:36,2023-01-04 00:58:36,2023-01-02 01:58:36,...,2023-01-04 00:31:51.694,Within SLA,2023-01-04 04:02:59.013,1.0,3.0,Custom software development,Tier 1,Republic of Ireland,53.094024,-8.019675
1,In progress,1013,High,Phone,Product setup,2nd line support,Adolpho Messingham,2023-01-02 07:27:25,2023-01-04 07:27:25,2023-01-02 07:29:25,...,NaN,SLA Violated,NaN,3.0,NaN,Other,Tier 2,Italy,43.036776,12.678565
2,Resolved,1014,Low,Chat,Purchasing and invoicing,1st line support,Bernard Beckley,2023-01-02 06:59:04,2023-01-03 06:59:04,2023-01-02 07:01:04,...,2023-01-02 22:45:32.974,Within SLA,NaN,2.0,NaN,Custom software development,Tier 1,Austria,47.696472,13.345735
3,Closed,1015,Medium,Email,Pricing and licensing,1st line support,Connor Danielovitch,2023-01-03 03:09:39,2023-01-05 03:09:39,2023-01-03 04:09:39,...,2023-01-04 14:32:34.979,Within SLA,2023-01-08 04:24:54.771,10.0,4.0,Ready to use Software,Tier 1,Spain,39.673370,-4.767726
4,Closed,1016,Low,Email,Product setup,1st line support,Kristos Westoll,2023-01-03 00:03:58,2023-01-05 00:03:58,2023-01-03 01:03:58,...,2023-01-04 12:03:05.986,Within SLA,2023-01-06 06:05:08.637,1.0,2.0,Other,Tier 1,Austria,47.696472,13.345735

In [30]:
# Dataset 1: Choose which columns or data to focus on and drop the rest.

dataset_1_info = dataset_1_info.drop(['Source', 'Agent_Group', 'Agent_Name', 'Agent_interactions', 'Survey_results', 'Product_group', 'Support_Level', 'Country', 'Latitude', 'Longitude', 'Expected_SLA_to_resolve', 'Expected_SLA_to_first_response', 'SLA_For_first_response', 'SLA_For_Resolution', 'First_response_time'], axis='columns')
dataset_1_info

,Status,Ticket_ID,Priority,Topic,Created_time,Resolution_time,Close_time
0,Closed,1012,Low,Feature request,2023-01-02 00:58:36,2023-01-04 00:31:51.694,2023-01-04 04:02:59.013
1,In progress,1013,High,Product setup,2023-01-02 07:27:25,NaN,NaN
2,Resolved,1014,Low,Purchasing and invoicing,2023-01-02 06:59:04,2023-01-02 22:45:32.974,NaN
3,Closed,1015,Medium,Pricing and licensing,2023-01-03 03:09:39,2023-01-04 14:32:34.979,2023-01-08 04:24:54.771
4,Closed,1016,Low,Product setup,2023-01-03 00:03:58,2023-01-04 12:03:05.986,2023-01-06 06:05:08.637
...,...,...,...,...,...,...,...
2325,Resolved,3988,Low,Product setup,2023-12-29 03:33:04,2023-12-30 18:38:54.682,NaN
2326,Resolved,3996,Medium,Pricing and licensing,2023-12-30 03:11:44,2023-12-30 20:49:05.132,NaN
2327,Resolved,3997,High,Feature request,2023-12-30 04:51:54,2024-01-04 05:39:41.133,NaN
2328,Resolved,3998,Low,Product setup,2023-12-30 13:16:56,2023-12-31 23:25:16.816,NaN
2329,Resolved,3999,High,Feature request,2023-12-30 19:49:51,2024-01-01 10:17:15.196,NaN

In [31]:
# Change column names
dataset_1_info.rename(columns = {'Status' : 'Ticket_Status', 'Priority' : 'Ticket_Priority', 'Topic' : 'Ticket_Type', 'Created_time' : 'Start_Time', 'Resolution_time' : 'End_Time', 'Close_time' : 'Time_to_Resolve'}, inplace='true')
dataset_1_info

,Ticket_Status,Ticket_ID,Ticket_Priority,Ticket_Type,Start_Time,End_Time,Time_to_Resolve
0,Closed,1012,Low,Feature request,2023-01-02 00:58:36,2023-01-04 00:31:51.694,2023-01-04 04:02:59.013
1,In progress,1013,High,Product setup,2023-01-02 07:27:25,NaN,NaN
2,Resolved,1014,Low,Purchasing and invoicing,2023-01-02 06:59:04,2023-01-02 22:45:32.974,NaN
3,Closed,1015,Medium,Pricing and licensing,2023-01-03 03:09:39,2023-01-04 14:32:34.979,2023-01-08 04:24:54.771
4,Closed,1016,Low,Product setup,2023-01-03 00:03:58,2023-01-04 12:03:05.986,2023-01-06 06:05:08.637
...,...,...,...,...,...,...,...
2325,Resolved,3988,Low,Product setup,2023-12-29 03:33:04,2023-12-30 18:38:54.682,NaN
2326,Resolved,3996,Medium,Pricing and licensing,2023-12-30 03:11:44,2023-12-30 20:49:05.132,NaN
2327,Resolved,3997,High,Feature request,2023-12-30 04:51:54,2024-01-04 05:39:41.133,NaN
2328,Resolved,3998,Low,Product setup,2023-12-30 13:16:56,2023-12-31 23:25:16.816,NaN
2329,Resolved,3999,High,Feature request,2023-12-30 19:49:51,2024-01-01 10:17:15.196,NaN

### Dataset_2

In [ ]:
# Load Dataset_2
dataset_2_info = pd.read_csv('Customer Support Tickets.csv')
print(dataset_2_info)

In [ ]:
# Dataset_2: Insert underscores. Makes it easier for me to read columns names
dataset_2_info.columns = dataset_2_info.columns.str.replace(' ', '_')
print(dataset_2_info)

In [ ]:
# Dataset_2: Initial Check. Display the first few rows and basic information about the dataset.
dataset_2_info.head()

In [ ]:
# Dataset_2: Choose which columns or data to focus on and drop the rest.

dataset_2_info = dataset_2_info.drop(['Customer_Name', 'Customer_Email', 'Customer_Age', 'Customer_Gender', 'Product_Purchased', 'Date_of_Purchase', 'Ticket_Channel'], axis='columns')
dataset_2_info

## 3. Data Cleaning and Preparation

In [ ]:
# handle missing values:
# how many are there?
# count NaNs in each column
column_nan_count = new_student_info.isnull().sum()
print("NaN count per column:")
print(column_nan_count)

In [ ]:
# for the 'Admission Test Scores' and 'High School Percentage', these columns are just 'FYI' and they don't really affect the calculations I'm doing.
# So I'll replace the 'NaN' with the column mean (average)
new_student_info['Admission_Test_Score'] = new_student_info['Admission_Test_Score'].fillna(new_student_info['Admission_Test_Score'].mean())
new_student_info['High_School_Percentage'] = new_student_info['High_School_Percentage'].fillna(new_student_info['High_School_Percentage'].mean())
pd.options.display.float_format = '{:.2f}'.format
print('\nResult :\n', new_student_info)
# test_nan_count = new_student_info.isnull().sum()
# print("NaN count per column:")
# print(test_nan_count)

In [ ]:
# fill missing "City' with 'Unknown'
# remove any record that has a missing 'Admission Status' since there's not way to guess at those.
# this leaves 147 records
new_student_info['City'] = new_student_info['City'].fillna('Unknown')
new_student_info = new_student_info.dropna()

# set display options to show all columns and rows
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

# print the dataframe
print(new_student_info)

# test_nan_count = new_student_info.isnull().sum()
# print("NaN count per column:")
# print(test_nan_count)

In [ ]:
# Feature Engineering: The number of 'Accepted' vs 'Rejected' per city

# Group by 'City' and 'Admission_Status' and calculate the total count for each group
city_admissions = new_student_info.groupby(['City', 'Admission_Status'])['Admission_Status'].count().reset_index(name='Count')

# Create a pivot table to show accepted and rejected totals by city
city_admissions_pivot = city_admissions.pivot(index='City', columns='Admission_Status', values='Count').fillna(0)

# Rename the columns for better readability 
city_admissions_pivot = city_admissions_pivot.rename(columns={'Accepted': 'Accepted', 'Rejected': 'Rejected'})

# Display the pivot table
# print(city_admissions_pivot)

# Convert the pivot table to a string
pivot_table_string = city_admissions_pivot.to_string()

# Find the index of the newline character after the header
header_end_index = pivot_table_string.find('\n')

# Insert a newline character after the header
modified_pivot_table_string = pivot_table_string[:header_end_index + 1] + '\n' + pivot_table_string[header_end_index + 1:]

# Print the modified string
print(modified_pivot_table_string)

## 4. Exploratory Data Analysis (EDA)

In [ ]:
# Descriptive Statistics:
new_student_info.describe()

In [ ]:
# Data Visualizations:
# Assuming 'city_admissions_pivot' is your DataFrame
city_admissions_pivot.plot(kind='bar', figsize=(10, 6))

plt.title('Student Admissions by City')
plt.xlabel('City')
plt.ylabel('Number of Students')
plt.xticks(rotation=45, ha='right')  # Rotate x-axis labels for better readability
plt.legend(title='Admission Status')

plt.tight_layout()  # Adjust layout to prevent labels from overlapping
plt.show()